body{
    background-color: #3a3c40;
    margin-left: 0;
    margin-right: 0;
}

div {
    font-family: "Ubuntu",Helvetica,sans-serif !important;
}

#seperationline{
    float: left;
    height: 5px;
    width: 100%;
    background-color: #006b6b;
    box-shadow: 0px 5px 7px black;
}


/*content*/
.content{
    text-align: -webkit-center;
    margin-top: 50px;
}

.entry{
    border-radius: 30px;
    border-color: #006b6b;
    border-width: 7px;
    border-style: solid;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 90%;
    background-color: white;
}

.text{
    text-align: left;
    width: 90%;
    margin-bottom: 10px;
}

.image{
    height: 400px;
    overflow: hidden;
    border-bottom-style: solid;
    border-color: #006b6b;
    border-width: 5px;
}

/*footer*/
footer{
    background-color: #006b6b;
    height: 100px;
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
}

.socialmediaimage{
    height: 50px;
    margin-left: 20px;
}

.socialmediaimage:hover{
    animation-name: socialmediaanim;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}
